    # dependencies
    /node_modules
    /package-lock.json # or yarn.lock, pnpm-lock.yaml

    # build outputs
    /dist
    /build
    /out

    # environment variables
    .env
    .env.*

    # other ignores
    .vscode
    .DS_Store
node_modules
